[src.mysql]
host = "192.168.1.2"
port = "3306"
user = "test"
password = "123456"
db = "test"
encodingdir = "share"
encoding = "utf8"
[src.pgsql]
connect_string = "host=192.168.1.1 dbname=test port=5432  user=gptest password=123456"
[local.pgsql]
connect_string = "host=192.168.1.1 dbname=test port=5433  user=gptest password=123456"
[desc.pgsql]
connect_string = "host=192.168.1.1 dbname=test port=5434  user=gptest password=123456"
